/*centrale class*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app{
  margin: 10px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*hoofdpagina*/
.logoHome{
  width: 30vh;
}

.logoOptions{
  margin: 10px 10px 5vw 10px;
  display: flex;
  justify-content: space-around;
  width: 60vw;
  flex-wrap: wrap;
  animation: 2s example1 ease-in-out;
}

.logoOptions div, .logoOptions a{
  animation: 2s example ease-in-out;
}

.logoOptions svg{
  animation: 2s example2 ease-in-out;
}

@keyframes example {
  0% {
    font-size: 0;
    color: transparent;
    transform: translate(0 , -150px);
  }
  50% {
    position: static;
    transform: translate(0, 0);
  }
  75% {
    font-size: 12pt;
    color: transparent;
  }
  100%{
    color: white;

  }
}

@keyframes example1 {
  0% {
    width: 10vw;
  }
  50%{
    width: 60vw;
  }
}

@keyframes example2 {
  0% {
    width: 10px;
  }
  50%{
    width: 50px;
  }
}

/*subkopjes*/
.logo{
  width: 100px;
}

nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  padding: 10px;
  color: white;
  flex-flow: wrap;
}

nav ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  width: 80%;
}

.navItems{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  pointer-events: none;
}

a:hover{
  transform: scale(1.05);
}

.navItemActive{
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

.postContent{
  background-color: black;
  margin: 20px;
  color: white;
  padding: 30px;
  width: 100%;
}

.postContent > *{
  margin-left: 0;
  margin-right: 0;
}

.postContent a{

  text-decoration: underline;
  cursor: auto;
}

.planningLijst{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 0;
}

.planningLijst li{
  align-items: center;
  margin: 1vw;
  width: 20%;
  height: 10vw;
  list-style: none;
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 20pt;
  cursor: pointer;
}

ul li div{
  padding: 5px;
}

nav ul a{
  text-decoration: none;
  color: white;
  margin: 0 5vw;
}

a{
  text-decoration: none;
  color: white;
}

#gekozen_card {
  width: 20%;
  height: 40vh;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 18pt;
  padding: 10px;
}

/*responiviteit*/
@media only screen and (max-width: 300px) {
  .logoHome{
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .planningLijst li{
    width: 30%;
    height: 20vh;
  }
}

@media only screen and (min-width: 1200px) {
  .logoHome{
    width: 45vh;
  }
  .planningLijst li{
    width: 20vh;
  }
}

@media only screen and (max-width: 700px) {
  nav ul{
    padding: 0;
    justify-content: center;
    width: 100%;
  }
  #gekozen_card{
    width: 60%;
  }
}

@media only screen and (max-width: 666px) {
  @keyframes example1 {
    0% {
      width: 2vw;
    }
    30%{
      width: 2vw;
    }
    31%{
      width: 20vw;
    }
    50%{
      width: 30vw;
    }
  }
}