/*centrale class*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--color-primary);
}

.theme-light {
  --color-primary: white;
  --color-secondary: #121212;
  --font-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
  linear-gradient(0deg, #121212, #121212);
}

.theme-dark {
  --color-primary: #121212;
  --color-secondary: white;
  --font-color: rgba(255, 255, 255, 0.78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app{
  margin: 10px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*hoofdpagina*/
.logoHome{
  width: 30vh;
}

.logoOptions{
  margin: 10px 10px 5vw 10px;
  display: flex;
  justify-content: space-around;
  width: 60vw;
  flex-wrap: wrap;
  animation: 2s example1 ease-in-out;
}

.logoOptions div, .logoOptions a{
  animation: 2s example ease-in-out;
}

.logoOptions svg{
  fill: var(--color-secondary);
  animation: 2s example2 ease-in-out;
}

@keyframes example {
  0% {
    font-size: 0;
    color: transparent;
    transform: translate(0 , -25vh);
  }
  50% {
    position: static;
    transform: translate(0, 0);
  }
  75% {
    font-size: 12pt;
    color: transparent;
  }
  100%{
    color: var(--color-secondary);
  }
}

@keyframes example1 {
  0% {
    width: 10vw;
  }
  50%{
    width: 60vw;
  }
}

@keyframes example2 {
  0% {
    width: 10px;
  }
  50%{
    width: 50px;
  }
}

/*subkopjes*/
.logo{
  width: 100px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-primary);
  margin: 2vw;
  color: white;
  flex-flow: wrap;
}

nav ul{
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  width: 68%;
  padding: 0;
}

.navItems{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  pointer-events: none;
}

a:hover{
  transform: scale(1.05);
}

.navItemActive{
  border-bottom: 1px solid var(--color-secondary);
  box-sizing: border-box;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.hamburger svg{
  font-size: 30px;
}

.postContent{
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  margin: 0 2vw;
  color: var(--font-color);
  width: 100%;
}

.postContent > *:first-child{
  margin-top: 0;
}

.postContent > *{
  margin-left: 0;
  margin-right: 0;
}

.postContent a{

  text-decoration: underline;
  cursor: auto;
}

.image_content{
  display: flex;
  justify-content: space-between;
}

.image_content div{
  width: 48%;
}

.image_content p{
  margin-top: 0;
}

.featured_image img{
  width: 100%;
}

.featured_image{
  width: 48%;
}

.planningLijst{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0;
  margin-top: 0;
}

.planningLijst li{
  align-items: center;
  margin: 1vw;
  width: 20%;
  height: 10vw;
  list-style: none;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px;
  font-size: 20pt;
  cursor: pointer;
}

ul li div{
  padding: 5px;
}

nav ul a{
  text-decoration: none;
  color: var(--color-secondary);
  margin: 0 5vw;
}

nav svg{
  fill: var(--color-secondary);
}

a{
  text-decoration: none;
  color: var(--color-secondary);
}

.last-items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

#gekozen_card {
  width: 20%;
  height: 40vh;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
  font-size: 18pt;
  padding: 10px;
}

/*button switch theme*/
#switch{
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
}

#switch > *{
  pointer-events: none;
}

#switch > svg{
  font-size: 30px;
}

/*calendar*/
.calendar{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 2vw;
  flex-wrap: wrap;
}

.calendar h1, h2{
  text-align: center;
  width: 100%;
}

.days {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.event{
  background-color: lightgreen;
  padding: 5px;
}



/*responiviteit*/
@media only screen and (max-width: 300px) {
  .logoHome{
    width: 100%;
  }
  @keyframes example {
    0% {
      font-size: 0;
      color: transparent;
      transform: translate(0 , -1vh);
    }
    50% {
      position: static;
      transform: translate(0, 0);
    }
    75% {
      font-size: 12pt;
      color: transparent;
    }
    100%{
      color: var(--color-secondary);
    }
  }
}

@media only screen and (max-width: 500px) {
  .planningLijst li{
    width: 30%;
    height: 20vh;
  }
}

@media only screen and (max-width: 1199px) {
  @keyframes example {
    0% {
      font-size: 0;
      color: transparent;
      transform: translate(0 , -18vh);
    }
    50% {
      position: static;
      transform: translate(0, 0);
    }
    75% {
      font-size: 12pt;
      color: transparent;
    }
    100%{
      color: var(--color-secondary);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .logoHome{
    width: 45vh;
  }
  .planningLijst li{
    width: 20vh;
  }
}

@media only screen and (max-width: 700px) {
  nav ul{
    display: none;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-content: start;
    align-items: start;
    order: 3;
  }
  nav ul a{
   margin: 0;
  }
  nav{
    justify-content: space-between;
  }
  #gekozen_card{
    width: 60%;
  }
  .featured_image{
    width: 100%;
  }
  .image_content div{
    width: 100%;
  }
  .image_content{
    flex-wrap: wrap;
  }
  .last-items{
    justify-content: space-between;
    width: 100px;
  }
  .hamburger{
    display: block;
  }
}

@media only screen and (min-width: 701px) {
  nav ul{
    display: flex !important;
  }
}

@media only screen and (max-width: 666px) {
  @keyframes example1 {
    0% {
      width: 2vw;
    }
    30%{
      width: 2vw;
    }
    31%{
      width: 20vw;
    }
    50%{
      width: 30vw;
    }
  }
}