@import "assets/stylesheets/homepage.css";
@import "assets/stylesheets/subpage-content.css";
@import "assets/stylesheets/subpage-calendar.css";
@import "assets/stylesheets/media_queries.css";

/*centrale class*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--color-background);
}

.theme-light {
  --color-primary: white;
  --color-secondary: #121212;
  --color-background: #EAEAEA;
  --color-form: white;
  --color-dropshadow: 3px 3px 5px #ccc;
  --margin-content: 1vh;
  --padding-content: 1vh;
  --font-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
  linear-gradient(0deg, #121212, #121212);
}

.theme-dark {
  --color-primary: #121212;
  --color-secondary: white;
  --color-background: #121212;
  --color-form: rgba(18, 18, 18, 1);
  --color-dropshadow: 0;
  --margin-content: 0;
  --padding-content: 0;
  --font-color: rgba(255, 255, 255, 0.78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app{
  margin: 10px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*button switch theme*/
#switch{
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
}

#switch > *{
  pointer-events: none;
}

#switch > svg{
  font-size: 30px;
}

/*form*/
form{
  width: 400px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: var(--color-primary);
}

#userInfo{
  display: flex;
  width: 600px;
  justify-content: space-between;
}

#userInfo > div:nth-child(1){
  width: 25%;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
}


#userInfo > div:nth-child(1) > a {
  padding: 5px;
  margin-bottom: 4vw;
  cursor: pointer;
}

#userInfo > div:nth-child(2){
  width: 75%;
  color: var(--color-secondary);
}

#userInfo > div:nth-child(2) h3{
  margin: 5px 0;
}

#userInfo > div:nth-child(2)>div{
  display: none;
}

#userInfo > div:nth-child(2)>div div{
  margin: 10px 0;
  cursor: pointer;
}

#userInfo > div:nth-child(2)>div input[type = submit]{
  width: 40%;
  cursor: pointer;
}

#userInfo > div:nth-child(2)>div p{
 margin: 0 0 5px 0;
}


#userInfo > div:nth-child(2) div:nth-child(1){
  display: block;
}


form p{
  margin-bottom: 2px;
  color: var(--color-secondary);
}

form label{
  color: var(--color-secondary);
}

form input{
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form h1{
  color: var(--color-secondary);
  margin-top: 0;
}

form input[type = submit]{
  width: 20%;
  cursor: pointer
}

#code{
  display: none;
}