.logoHome{
    margin-top: 113px;
    align-self: flex-start;
    width: 40vw;
    filter: drop-shadow(3px 3px 5px #ccc);
}
.logoOptions{
    margin: 10px 10px 5vw 10px;
    display: flex;
    justify-content: space-around;
    width: 60vw;
    flex-wrap: wrap;
    animation: 2s example1 ease-in-out;
}

.logoOptions div, .logoOptions a{
    animation: 2s example ease-in-out;
}

.logoOptions svg{
    fill: white;
    animation: 2s example2 ease-in-out;
    filter: drop-shadow(var(--color-dropshadow));
}

.fixedNav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--color-primary);
    height: 100px;
}

.fixedNav>*{
    padding: 10px;
}

.dropdown{
    display: none;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--color-primary);
    padding: 10px;
}

.dropdown > *{
    display: block;
    font-size: 10pt;
    cursor: pointer;
    color: var(--color-secondary);
    margin: 0;
    padding: 5px 0;
}


#profile:hover .dropdown {display: block}

#profile{
    position: relative;
    display: inline-block;
}

#profile #username{
    color: var(--color-secondary);
    margin: 5px;
}

.sideNav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    background-color: var(--color-primary);
    height: 100%;
    margin-top: 100px;
    width: 200px;
}

.sideNav svg{
   fill: var(--color-secondary);
}

.sideNavItems{
    margin: 10px;
    width: 100%;
}

.navCatLabel{
    margin-left: 10px;
}

.navTitleLabel{
    margin-left: 40px;
}

.navTitleLabel div{
    margin-bottom: 10px;
}


@keyframes example {
    0% {
        font-size: 0;
        color: transparent;
        transform: translate(0 , -25vh);
    }
    50% {
        position: static;
        transform: translate(0, 0);
    }
    75% {
        font-size: 12pt;
        color: transparent;
    }
    100%{
        font-size: 12pt;
        color: var(--color-secondary);
    }
}

@keyframes example1 {
    0% {
        width: 10vw;
    }
    50%{
        width: 60vw;
    }
}

@keyframes example2 {
    0% {
        width: 10px;
    }
    50%{
        width: 50px;
    }
}