.logoHome{
    margin-top: 113px;
    align-self: flex-start;
    width: 40vw;
    filter: drop-shadow(3px 3px 5px #ccc);
}

.logoOptions{
    margin: 10px 10px 5vw 10px;
    display: flex;
    justify-content: space-around;
    width: 60vw;
    flex-wrap: wrap;
    animation: 2s example1 ease-in-out;
}

.logoOptions div, .logoOptions a{
    animation: 2s example ease-in-out;
}

.logoOptions svg{
    fill: white;
    animation: 2s example2 ease-in-out;
    filter: drop-shadow(var(--color-dropshadow));
}

.fixedNav{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.fixedNav>*{
    padding: 10px;
}

#info, #uitloggen{
    font-size: 10pt;
    cursor: pointer;
}

#profile *{
    color: var(--color-secondary);
    margin: 5px;
}


@keyframes example {
    0% {
        font-size: 0;
        color: transparent;
        transform: translate(0 , -25vh);
    }
    50% {
        position: static;
        font-size: 6pt;
        transform: translate(0, 0);
    }
    75% {
        font-size: 12pt;
        color: transparent;
    }
    100%{
        font-size: 12pt;
        color: var(--color-secondary);
    }
}

@keyframes example1 {
    0% {
        width: 10vw;
    }
    50%{
        width: 60vw;
    }
}

@keyframes example2 {
    0% {
        width: 10px;
    }
    50%{
        width: 50px;
    }
}