.fixedNav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--color-primary);
    z-index: 999;
}

.fixedNav>*{
    padding: 10px;
    flex: 1;
}

.logoDiv > img{
    height: 80px;
}

.dropdown{
    display: none;
    position: fixed;
    background-color: var(--color-primary);
}

.dropdown > *{
    display: block;
    font-size: 10pt;
    cursor: pointer;
    color: var(--color-secondary);
    margin: 0;
    padding: 5px 0;
    text-align: start;
}


#profile:hover .dropdown {display: block}

#profile{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#profile {
    color: var(--color-secondary);
    margin: 5px;
}

#username{
    word-break: normal;
    font-size: 11pt;
    text-align: right;
}

.sideNav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 100px;
    bottom: 0;
    background-color: var(--color-primary);
    height: 100%;
    border-right: 1px solid var(--color-secondary);
    padding-right: 10px;
    max-width: 300px;
    z-index: 998;
    overflow-y: auto;
}

.sideNav > * {
    width: 100%;
}

.sideNav a {
    word-wrap: break-word;
}

.navCat{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navSubCat{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 10px;
}


.cat{
    display: flex;
    width: 100%;
    font-size: 14pt;
    font-weight: 500;
    pointer-events: none;
    color: var(--color-secondary);
}

.sideNav svg{
   fill: var(--color-secondary);
}

.sideNavItems{
    margin: 10px;
}

.navCatLabel{
    margin-left: 10px;
}

.navTitleLabel{

    margin-left: 40px;
}

.navTitleLabel>div{
    margin-bottom: 10px;
}

.navSubCatLabel{
    margin: 0;
}

.homeClass{
    display: flex;
    align-items: center;
}