#content .LStitle{
    display: flex;
    align-items: center;
    color: #bf490f;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

#content .lsTitle *{
    margin: 0 5px;
}

#content blockquote{
    font-family: 'Times New Roman', Palatino, serif;
    font-size: 20px;
    line-height: 1.21em;
    font-weight: bold;
    font-style: italic;
    padding-left: 2.5em;
    margin-left: 0;
    color: #D29730;
    background-image: url(https://www.liberatingstructures.com/layout/images/blockquote.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

#content a{
    color: #CA244A;
    cursor: pointer;
}

#content .full-image-float-right{
    float: right;
}

#content .full-image-float-left{
    display: block;
    float: left;
}

#content .full-image-block{
   display: block;
}
#content .thumbnail-caption{
    display: block;
    font-size: 9px;
    font-family: Verdana, sans-serif;
    line-height: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#content h2{
    font-size: 36px;
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
    color: #BF490F;
}

#content>*:first-child{
    margin-top: 0;
}

#content>*:last-child{
    margin-bottom: 0;
}