@media only screen and (max-width: 500px) {
    .classic li{
        width: 30%;
        height: 20vh;
    }
    form{
        width: 80% !important;
    }
    form input[type = submit]{
        width: 100% !important;
    }
    .switch{
        justify-content: center;
    }

    .switch > *{
        width: 120px;
        font-size: 16pt !important;
    }
}

@media only screen and (min-width: 1200px) {
    .logoHome{
        width: 45vh;
    }
    .classic li{
        width: 18vh;
    }
}

@media only screen and (max-width: 700px) {
    .contentSection{
        margin-left: 0;
    }

    #userInfo{
        width: 80% !important;
        flex-wrap: wrap;
    }

    #userInfo>div:nth-child(1){
        width: 100% !important;
    }
    nav ul{
        display: none;
        flex-direction: column;
        padding: 0;
        width: 100%;
        align-content: start;
        align-items: start;
        order: 3;
    }
    nav{
        justify-content: space-between;
    }
    #gekozen_card{
        width: 60%;
    }
    .featured_image{
        width: 100%;
    }
    .image_content div{
        width: 100%;
    }
    .image_content{
        flex-wrap: wrap;
    }
    .last-items{
        justify-content: space-between;
        width: 100px;
    }
    .hamburger{
        display: block;
    }
    .fixedNav{

    }
    .t-shirt{
        justify-content: center;
    }
    .classic{
        justify-content: center;
    }
}