@media only screen and (max-width: 300px) {
    @keyframes example {
        0% {
            font-size: 0;
            color: transparent;
            transform: translate(0 , -1vh);
        }
        50% {
            position: static;
            transform: translate(0, 0);
        }
        75% {
            font-size: 12pt;
            color: transparent;
        }
        100%{
            color: var(--color-secondary);
        }
    }
}

@media only screen and (max-width: 500px) {
    .logoHome{
        width: 90%;
    }
    .logoOptions svg{
        width: 70px;
        height: auto;
    }
    .classic li{
        width: 30%;
        height: 20vh;
    }
    form{
        width: 80% !important;
    }
    form input[type = submit]{
        width: 100% !important;
    }
    .switch{
        justify-content: center;
    }

    .switch > *{
        width: 120px;
        font-size: 16pt !important;
    }
}

@media only screen and (max-width: 1199px) {
    @keyframes example {
        0% {
            font-size: 0;
            color: transparent;
            transform: translate(0 , -18vh);
        }
        50% {
            position: static;
            transform: translate(0, 0);
        }
        75% {
            font-size: 12pt;
            color: transparent;
        }
        100%{
            color: var(--color-secondary);
        }
    }
}

@media only screen and (min-width: 1200px) {
    .logoHome{
        width: 45vh;
    }
    .classic li{
        width: 18vh;
    }
}

@media only screen and (max-width: 700px) {
    .contentSection{
        margin-left: 0;
    }
    .sideNav{
        display: none;
    }

    #userInfo{
        width: 80% !important;
        flex-wrap: wrap;
    }

    #userInfo>div:nth-child(1){
        width: 100% !important;
    }
    nav ul{
        display: none;
        flex-direction: column;
        padding: 0;
        width: 100%;
        align-content: start;
        align-items: start;
        order: 3;
    }
    nav ul a{
        margin: 0;
    }
    nav{
        justify-content: space-between;
    }
    #gekozen_card{
        width: 60%;
    }
    .featured_image{
        width: 100%;
    }
    .image_content div{
        width: 100%;
    }
    .image_content{
        flex-wrap: wrap;
    }
    .last-items{
        justify-content: space-between;
        width: 100px;
    }
    .hamburger{
        display: block;
    }
    .fixedNav{

    }
    .t-shirt{
        justify-content: center;
    }
    .classic{
        justify-content: center;
    }
}

@media only screen and (min-width: 701px) {
    nav ul{
        display: flex !important;
    }
    .sideNav{
        display: flex;
    }
}

@media only screen and (max-width: 666px) {
    @keyframes example1 {
        0% {
            width: 2vw;
        }
        30%{
            width: 2vw;
        }
        31%{
            width: 20vw;
        }
        50%{
            width: 30vw;
        }
    }
}