/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /*border-right: 1px solid var(--color-secondary);*/
    /*border-left: 1px solid var(--color-secondary);*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}