.logo{
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
    padding: 1vw;
    color: white;
    flex-flow: wrap;
    box-shadow: var(--color-dropshadow);
    margin-bottom: var(--margin-content);
}

nav ul{
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    width: 68%;
    padding: 0;
}

.navItems{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    pointer-events: none;
}

a:hover{
    transform: scale(1.05);
}

.navItemActive{
    border-bottom: 1px solid var(--color-secondary);
    box-sizing: border-box;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger svg{
    font-size: 30px;
}

.postContent{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    box-shadow: var(--color-dropshadow);
    padding: var(--padding-content);
    margin: 0 1vw;
    color: var(--font-color);
    width: 100%;
}

.postContent_image{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: inherit;
    padding: 0;
    margin: 0 1vw;
    color: var(--font-color);
    width: 100%;
}

.postContent > *:first-child{
    margin-top: 0;
}

.postContent > *:last-child{
    margin-bottom: 0;
}

.postContent > *{
    margin-left: 0;
    margin-right: 0;
}

.postContent a{

    text-decoration: underline;
    cursor: auto;
}

.image_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image_content div{
    width: 46%;
    background-color: var(--color-primary);
    box-shadow: var(--color-dropshadow);
    padding: 1vw;
}

.image_content p{
    margin-top: 0;
}

.featured_image img{
    width: 100%;
}

.featured_image{
    width: 48%;
    padding: var(--padding-content);
}

.classic{
    display: none;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0;
    margin-top: 0;
}

.classic li{
    display: flex;
    margin: 1vw;
    width: 18%;
    height: 18vw;
    list-style: none;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 5vw;
    cursor: pointer;
    border: 20px solid red;
    font-weight: 700;
    box-shadow: var(--color-dropshadow);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.classic li p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.t-shirt{
    display: none;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0;
    margin-top: 0;
}

.t-shirt li{
    align-items: center;
    margin: 1vw;
    list-style: none;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
    cursor: pointer;
    color: var(--color-secondary);
}

.t-shirt li svg{
    width: 8em;
    height: 8em;
}

.t-shirt li svg *{
    pointer-events: none;
}

.t-shirt li svg path{
    fill: white;
    stroke-width: 5px;
    filter: drop-shadow(var(--color-dropshadow));
}

ul li div{
    padding: 5px;
}

nav ul a{
    text-decoration: none;
    color: var(--color-secondary);
    margin: 0 5vw;
}

nav svg{
    fill: var(--color-secondary);
}

a{
    text-decoration: none;
    color: var(--color-secondary);
}

.last-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

#gekozen_card {
    width: 25%;
    height: 40vh;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 40pt;
    font-weight: 900;
    padding: 10px;
    border: 20px solid red;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

#gekozen_card p{
    width: 100%;
}

#gekozen{
   display: flex;
    justify-content: center;
}

#gekozen svg{
    width: 20em;
    height: 20em;
    cursor: pointer;
}

#gekozen_card>svg{
    width: 4em;
    height: 4em;
}

#classic, #t-shirt{
    color: var(--color-secondary);
    padding: 5px;
    cursor: pointer;
}

figure{
    margin: 0;
}
